/**********************************************
*** GENERAL
**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

.wrapper {
    margin: auto;
    width: 800px;
}

/**********************************************
*** COMMON
**********************************************/

.page {
    margin: auto;
    margin-top: 250px;
    display: none;
    box-shadow: 5px 5px 5px rgba(46, 45, 45, 0.24);
}

.show {
    display: block;
}

.header {
    background-color: #90a4ae;
    color: #000;
}

.page-label {
    opacity: 0.87;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

button {
    background-color: #90a4ae;
    border: none;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    margin: 20px auto;
    cursor: pointer;

}

/**********************************************
*** LOGIN PAGE
**********************************************/

.login-page {
    width: 360px;
    
}

.form-block {
    margin: 30px 20px 0 20px;
}

.login-field {
    display: block;
    font-size: 22px;
    margin: 15px auto;
    width: 90%;
    border: none;
    border-bottom: solid 1px #90a4ae;
}

.login-console-message {
    color: #dd2c00;
    font-size: 16px;
    margin: 30px;
    text-align: center;
    min-height: 30px;

}

.material-icons {
    color: #90a4ae;
    vertical-align: middle;
}

.material-icons.md-48 { font-size: 48px; }
.lock-icon {
    margin-top: 50px;
}

.footer {
    text-align: center;
}

.login-block {
    text-align: center;
}

/**********************************************
*** USERS PAGE
**********************************************/

.user-page {
    height: 400px;
}

.add-user {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-list-block {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    height: inherit;
    border: solid 0.5px rgba(165, 165, 165, 0.32);
}

.user-data-block {
    position: relative;
    display: inline-block;
    width: 70%;
    height: inherit;
    border: solid 0.5px rgba(165, 165, 165, 0.32);
}

.table {
    border: solid 1px rgba(28, 28, 28, 0.2);
    margin: 20px auto;
    width: 80%;
}

.user-table-data {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.user-list {
    font-size: 20px;
    list-style-type: none;
}

.user-list-item {
    cursor: pointer;
    padding: 3px 0 3px 10px;
}

.user-list-item:hover {
    background-color: #c1d5e0;
}

.selected {
    background-color: #90a4ae;
}

.current-user-block {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border-top: solid 1px rgba(165, 165, 165, 0.32);
}

.current-user-name {
    font-size: 18px;
    margin: 5px 25px;
}

.logout-btn {
    display: block;
    margin: auto;
    width: 80%;
}

.add-user {
    display: inline-block;
    margin: 5px;
}

.add-user-label {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.87);
}

/**********************************************
*** NEW USER PAGE
**********************************************/

.editable {
    border: solid 1px #62757f;
    text-align: right;
    
}

.config-user-data {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.add-newUser-btn {
    display: none;
    margin-bottom: 10px;
}


.new-user-password {
   display: none;
}

.show-tablerow {
    display: table-row;
}

input:focus {
    outline-color: #c6b690;
    background-color: #ebe0e0;
}
